@import "_partials"

#curriculum-vitae-wrapper
	@extend .clear-float
	
	h1
		margin: 84px 0 34px

		text-align: center
		font-size: 42px
		font-weight: 700
		color: #154E90

	h2
		margin: 34px 0 24px

		text-align: center
		font-size: 16px
		font-weight: 400
		color: #656565

	h3
		font-size: 16px
		font-weight: 400
		color: #222F3E
		line-height: 24px
		> a
			text-decoration: none
			color: #154E90

			&:hover, &:active, &focus
				color: #316FB8

	.project-container
		> a 
			display: block
			img
				display: block
				width: 100%
				height: auto
				transition: filter 0.2s

				&:hover, &:active, &:focus
					filter: opacity(0.8)

	.current-projects-row
		@extend .clear-float

		.project-container
			float: left
			width: calc((100% - 42px) / 3)

			&:nth-of-type(2)
				margin: 0 21px


	.projects-column
		float: left
		max-width: 456px
		box-sizing: border-box
		h2
			font-weight: 700

	.projects-column.first
		padding-right: 25px

		.project-container
			@extend .clear-float
			padding: 15px 0
			border-bottom: 1px solid #DDD

			h3
				margin-top: 7px
				float: left
				width: 75%
				box-sizing: border-box
				padding-left: 20px

			> a
				float: left
				width: 25%
				box-sizing: border-box
				img
					width: 100%

	.projects-column.second
		padding-left: 25px

		.section-wrapper
			padding: 15px 0

			.item-container
				h3
					position: relative
					margin-top: 7px
					padding-left: 95px

					.time-span
						color: #656565
						position: absolute
						top: 50%
						left: 0
						transform: translateY(-50%)

@media screen and(max-width: 980px)
	#curriculum-vitae-wrapper
		.projects-column
			float: none
			margin: 0 auto
		.projects-column.first, .projects-column.second
			padding: 0

@media screen and(max-width: 640px)
	#curriculum-vitae-wrapper
		h1
			margin: 48px 0 20px
		h2
			margin: 20px 0 24px

		.current-projects-row
			max-width: 450px
			margin-right: auto 
			margin-left: auto 
			.project-container
				float: none
				width: 100%
				margin: 34px 0 

				&:nth-of-type(2)
					margin: 34px 0

				a
					img
						width: 100%
						margin: 0 auto

		.projects-column
			.project-container
				padding: 15px 0

				h3
					margin-top: 0px
					width: 80%
					padding-left: 15px

				> a
					float: left
					width: 20%
					box-sizing: border-box
					img
						width: 100%
						border-radius: 50%
