<div id="nav-background">
	<nav id="main-navigation">
		<a href="{{ "/" | relative_url }}" class="front-page-link">
			Karel
			<img src="{{ 'assets/images/icon.png' | absolute_url }}" alt="simplified and stylized icon of a rat's face, looking like almost a black diamond with shining eyes"/>
			Suchomel
		</a>
		<div class="navigation-links-container">
			<a href="#" class="navigation-link">Writings</a>
			<a href="{{ "/category/projects.html" | relative_url }}" class="navigation-link">Curriculum vitae</a>
			<a href="#" class="navigation-link">Contact me</a>
		</div>
	</nav>
</div>