<div id="nav-background">
	<nav id="main-navigation">
		<a href="{{ "/" | relative_url }}" class="front-page-link">
			{% include site-title.svg %}
		</a>
		<div class="navigation-links-container">
			<a 
				href="{{ '/' | absolute_url }}" 
				class="
					navigation-link
					{% if '/' == page.url %} active{% endif %}
					"
			>
				Curriculum vitae
			</a>
			<a 
				href="{{ 'contact.html' | absolute_url }}" 
				class="
					navigation-link
					{% if '/contact.html' == page.url %} active{% endif %}
					"
			>
				Contact me
			</a>
		</div>
	</nav>
</div>