<div id="nav-background">
	<nav id="main-navigation">
		<a href="{{ "/" | relative_url }}" class="front-page-link">
			<img src="{{ 'assets/images/signiture.png' | absolute_url }}" alt="Handwritten: Karel Suchomel with a stick picture of a rat"/>
		</a>
		<div class="navigation-links-container">
			<a href="#" class="navigation-link">Writings</a>
			<a href="{{ "/category/projects.html" | relative_url }}" class="navigation-link">Curriculum vitae</a>
			<a href="#" class="navigation-link">Contact me</a>
		</div>
	</nav>
</div>