@import "_partials"

html
	font-family: 'Roboto', sans-serif

body
	background-color: #f9f9f9

#page-wrapper
	padding-bottom: 12px
	max-width: 980px
	margin: 0 auto
	min-height: 100vh
	box-sizing: border-box

.content-wrapper
	padding: 0px 34px

.citation
	padding: 32px
	border-left: 3px solid black
	background-color: #f3f2f1

.annotation
	color: #2d3436

ul, ol
	margin: 32px 0
hr
	height: 1px
	background-color: #DDD
	margin: 24px 0px 36px
	border: 0px
	clear: both