@import '../_partials'

#nav-background
	background-color: #f9f9f9

#main-navigation
	display: flex
	justify-content: space-between
	max-width: 980px
	margin: 0 auto
	box-sizing: border-box
	padding: 0 34px

	.front-page-link
		@extend .noselect
		display: block
		float: left
		flex-shrink: 0

		color: #444
		font-size: 14px
		line-height: 64px
		font-weight: 700
		text-decoration: none
		text-transform: uppercase
		> img
			margin-bottom: - 7px 
			display: inline
			width: 24px
			height: 24px

	.navigation-links-container
		display: flex
		@extend .clear-float
		overflow-y: hidden

		.navigation-link
			@extend .noselect
			display: block
			float: left
			flex-shrink: 0
			padding: 0 20px
			margin-left: 6px
			background: transparent

			color: #999
			line-height: 64px
			font-size: 14px
			font-weight: 700
			text-decoration: none
			text-transform: uppercase

			transition: background 0.2s, color 0.2s

			&:hover, &:focus, &:active
				background: white
				color: #444

		.navigation-link.active
			color: #444


@media screen and(max-width: 640px)
	#main-navigation
		padding: 0 20px

@media screen and(max-width: 440px)
	#main-navigation
		padding: 0
		flex-wrap: wrap
		justify-content: flex-start

		.front-page-link
			padding: 16px 20px 0
			line-height: 48px

		.navigation-links-container
			margin-left: 10px
			.navigation-link
				line-height: 48px
				margin-left: 0px
				padding: 0px 10px
