//
// Post detail
//

.post-content
	max-width: 720px
	margin: 0 auto

	h1
		margin: 56px 0 20px
		font-size: 42px
		color: #222F3E

	span
		color: #999

	> p, > ul
		font-size: 22px
		line-height: 40px
		color: #555

@media screen and(max-width: 640px)
	.post-content
		h1
			margin: 34px 0 20px
			font-size: 36px
			color: #222F3E

		> p, > ul
			font-size: 18px
			line-height: 32px
