{% include head.html %}

{% include navigation.html %}

<div class="content-wrapper">
	
<div class="left-half contact-me">
	<h2>Contact me</h2>
	<p>
		I am not present on any social network, but I am an active e-mailer.
	</p>
	<p>
		Alternatively, if you do not like forms, click this button to assemble my e-mail address (it's pretty cool).
	</p>
	<button id="assemble-address-trigger" type="button" class="standard-button">Assemble!</button>
	<p id="address-container">
		<span>ka</span><span>rel</span><span>su</span><span>cho</span><span>mel</span><span>@</span><span>win</span><span>dows</span><span>li</span><span>ve</span><span>.c</span><span>om</span>
	</p>
</div>

<form id="front-end-form" action="https://formspree.io/karelsuchomel@windowslive.com" method="POST">
	<h2>Form</h2>
	<input type="hidden" name="_next" value="http://karelsuchomel.cz/">
	<input type="hidden" name="_format" value="plain" />
	<input type="text" name="_gotcha" style="display:none">
	<label>Your e-mail
	<input id="input-sender-email" type="email" name="_replyto" required>
	</label>
	<label>Your name
	<input type="text" name="jmeno" placeholder="" required>
	</label>
	<label>Message
	<textarea name="text" required></textarea>
	</label>
	<button type="submit" value="submit" class="standard-button submit-button">Send message</button>
</form>
<hr>

</div>

<!-- page specific scripts -->
<script src="{{ "/assets/js/specific.js" | relative_url }}"></script>

{% include footer.html %}