{% include head.html %}

{% include navigation.html %}

<div class="content-wrapper">
<!-- front card -->
<div class="front-card-container">
	<div class="front-card-content">
		<h1>Hi! <span>My name is</span><br>Karel Suchomel</h1>
		<span class="under">I am a web designer located in Brno, Czech Republic</span>
	</div>
</div>

<p class="front-paragraph">
	<span class="first-letter">W</span>orking to create free/libre <a href="http://nastrojeproskoly.cz" target="_blank">tools for schools</a>, students and teachers. Including website, management tools, tools for creating engaging materials as well as space to learn and test your knowladge.
</p>
<hr>


{%- if site.categories.projects.size > 0 -%}
	<h2>Projects I've done</h2>
	<p class="listing-projects-paragraph">
		All are live... check them out. <a href="{{ "/category/projects.html" | relative_url }}">Show all...</a>
	</p>
	<ul class="front-page-list-projects">
		{%- for post in site.categories.projects limit:3 -%}
		<a class="post-link" href="{{ post.url | relative_url }}">
		<li>
			<div class="graphic-container">
				<img src="{{ post.desktop-screenshot-name | relative_url }}" alt="desktop-screenshot">
			</div>
			<h3>
					{{ post.title | escape }}
			</h3>
		</li>
		</a>
		{%- endfor -%}
	</ul>
<hr>
{%- endif -%}

<div class="left-half">
	<h2>Contact me</h2>
	<p>
		I am not present on any social network, but I am an active e-mailer.
	</p>
	<p>
		Alternatively, if don't like forms, click this button to assemble my e-mail address.
	</p>
	<button id="assemble-address-trigger" type="button" class="standard-button">Assemble!</button>
	<div id="address-container">
		<span>ka</span><span>rel</span><span>su</span><span>cho</span><span>mel</span><span>@</span><span>win</span><span>dows</span><span>li</span><span>ve</span><span>.c</span><span>om</span>
	</div>
</div>

<form id="front-end-form" action="https://formspree.io/karelsuchomel@windowslive.com" method="POST">
	<input type="hidden" name="_next" value="http://karelsuchomel.cz/">
	<input type="hidden" name="_format" value="plain" />
	<input type="text" name="_gotcha" style="display:none">
	<label>Your e-mail
	<input id="input-sender-email" type="email" name="_replyto" required>
	</label>
	<label>Your name
	<input type="text" name="jmeno" placeholder="" required>
	</label>
	<label>Message
	<textarea name="text" required></textarea>
	</label>
	<button type="submit" value="submit" class="standard-button submit-button">Send message</button>
</form>
<hr>

</div>

<!-- page specific scripts -->
<script src="{{ "/assets/js/specific.js" | relative_url }}"></script>

{% include footer.html %}