form
	margin: 24px 0px 12px

	label
		font-size: 14px
		color: #666
		position: relative
		margin-bottom: 12px
		display: block
	input, textarea
		font-size: 18px
		color: #2D2836
		display: block
		position: relative
		box-sizing: border-box
		width: 100%
		border: 0
		border-bottom: 1px solid #BBB
		padding: 6px 4px
		font-size: 15px
		background: transparent
		margin: 2px 0px 0px
		background-color: #e5e4e3

		&:hover
			border-bottom: 1px solid #ED8778

		&:focus
			border-bottom: 1px solid #e55039

	input.submit-button
		font-size: 14px
		width: auto
		display: inline-block
		margin: 0 auto
		padding: 12px 38px 12px 8px
		font-size: 14px
		font-weight: bold
		color: #e55039
		cursor: pointer
		background:
			color: #E7E6e5
			image: url('../images/send-form-icon.png')
			size: 20px
			repeat: no-repeat
			position: 94% 50%

		&:active
			background-color: #E7E6e5

	textarea
		height: 60px