.front-card-container

	.front-card-content
		margin-bottom: 12px

		h1
			font-size: 36px
			line-height: 40px
			margin: 60px 0px 0px

		span
				font-family: 'Bitter', serif
				font-weight: 600
				text-decoration: none
				color: #777
				font-size: 18px
				line-height: 24px
		span.under
				display: block
				margin-bottom: 18px

p.front-paragraph
	span.first-letter
		color: #e55039
		float: left
		padding-top: 1px
		font-size: 47px
		line-height: 47px
		padding-right: 8px

@media screen and (min-width: 450px)
	p.front-paragraph
		text-align: justify
		max-width: 420px