ul.front-page-list-projects
	padding: 0px
	list-style: none
	&:after
		content: ""
		display: block
		clear: both

	> li
		float: left
		margin: 0px
		width: 22%
		margin-right: 4%

		&:last-of-type
			margin-right: 0%

		.graphic-container
			width: 100%
			height: 120px
			overflow: hidden
			img
				max-width: 100%
				height: auto
				display: block

		h3
			margin: 12px 0px
			font-size: 18px
			a
				color: inherit
				text-decoration: none